#corp{
    text-align: center;
}
#poumon{
    transition: background-color 0.5s;
    background-color: rgb(0, 255, 0);
    padding-bottom: 5px;
    transition: opacity 0.5s;
    opacity: 1;
    height: 33%;
}
#imgPoumon{
    width: 22%;
    transition: transform 0.5s ease;
    display: block;
    margin: 0 auto;
}
#respirer {
    display: inline-block;
    padding: 10px 20px;
    background-color: #93e6f4;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    font-family: "Noto Sans"
}
hr{
    color: black;
    margin-top:0;
    height: 1px;
    background-color: black;
}

#respirer:hover {
    background-color: #5bc8c4;
    transform: scale(1.05);

}

.oxygene-barre {
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 20px;
    width: 50%;
    overflow: hidden;
    margin: 0 auto;
}


.oxygene-barre-interne {
    background-color: #93e6f4;
    height: 100%;
    width: 100%;
    transition: width 0.05s linear;

}
#game-over {
    display: none; /* Masqué par défaut */
    font-size: 24px;
    color: red;
    text-align: center;
    margin-top: 20px;
}